{% trans_default_domain 'ngcb' %}

{%- block ng_content_browser_widget -%}
    <div
        class="js-input-browse {% if value is empty %}item-empty{% endif %}"
        data-disabled="{% if form.vars.disabled %}true{% else %}false{% endif %}"
        {% if start_location is not null %} data-start_location="{{ start_location }}" {% endif %}
        data-min_selected="1"
        data-max_selected="1"
        data-input
    >
        <div class="input-browse">
            {% if not required %}
                <span class="js-clear"><i class="material-icons">close</i></span>
            {% endif %}

            <a class="js-trigger" href="#">
                <span class="js-name" data-empty-note="{{ 'form.messages.no_item_selected'|trans }}">
                    {% if value is not empty %}
                        {{ item_name ?? 'form.messages.invalid_item'|trans }}
                    {% else %}
                        {{ 'form.messages.no_item_selected'|trans }}
                    {% endif %}
                </span>
            </a>
        </div>

        <input type="hidden" class="js-config-name" value="{{ item_type }}" />
        <input type="hidden" class="js-value" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %} />
    </div>
{%- endblock -%}

{%- block ng_content_browser_dynamic_widget -%}
    <div
        class="js-input-browse {% if form.item_id.vars.value is empty %}item-empty{% endif %}"
        data-disabled="{% if form.vars.disabled %}true{% else %}false{% endif %}"
        {% if start_location is not null %} data-start_location="{{ start_location }}" {% endif %}
        data-min_selected="1"
        data-max_selected="1"
        data-input
    >
        {{ form_row(form.item_type, {label: false, attr: {class: 'js-config-name'}}) }}
        {{ form_row(form.item_id, {attr: {class: 'js-value'}}) }}

        <div class="input-browse">
            {% if not required %}
                <span class="js-clear"><i class="material-icons">close</i></span>
            {% endif %}

            <a class="js-trigger" href="#">
                <span class="js-name" data-empty-note="{{ 'form.messages.no_item_selected'|trans }}">
                    {% if form.item_id.vars.value is not empty %}
                        {{ item_name ?? 'form.messages.invalid_item'|trans }}
                    {% else %}
                        {{ 'form.messages.no_item_selected'|trans }}
                    {% endif %}
                </span>
            </a>
        </div>
    </div>
{%- endblock -%}

{%- block ng_content_browser_multiple_widget -%}
    {% macro prototype(form, item_names) %}
        <div class="item">
            <a href="#" class="js-remove"><i class="material-icons">close</i></a>
            <span class="name">
                {% if form.vars.data is not empty %}
                    {{ item_names[form.vars.data] ?? 'form.messages.invalid_item'|trans }}
                {% endif %}
            </span>

            {{ form_widget(form) }}
        </div>
    {% endmacro %}

    {% import _self as self %}

    <div
        class="js-multiple-browse {% if form is empty %}items-empty{% endif %}"
        data-disabled="{% if form.vars.disabled %}true{% else %}false{% endif %}"
        {% if start_location is not null %} data-start_location="{{ start_location }}" {% endif %}
        {% if min is not null %} data-min_selected="{{ min }}" {% endif %}
        {% if max is not null %} data-max_selected="{{ max }}" {% endif %}
        data-browser-prototype="{{ self.prototype(form.vars.prototype, item_names)|e }}"
        data-input
    >
        <div class="items">
            {% for child in form %}
                {{ self.prototype(child, item_names) }}
            {% endfor %}

            <div class="no-items">
                {{ 'form.messages.no_items_selected'|trans }}
            </div>
        </div>

        <input type="hidden" class="js-config-name" value="{{ item_type }}" />

        <a href="#" class="js-trigger">{{ 'form.add_items'|trans }}</a>
    </div>
{%- endblock -%}
