{% trans_default_domain 'ngcb' %}

{%- block ng_content_browser_widget -%}
    <div data-browser-config-name="{{ form.vars.config_name }}" class="js-input-browse">
        <div><span class="js-name">{{ form.vars.value_name }}</span> <a class="js-trigger" href="#">{{ 'forms.ng_content_browser.change'|trans }}</a></div>
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %} />
    </div>
{%- endblock -%}
